.main {
  height: 200px;
  background-color: antiquewhite;
  border-radius: 15px;
  width: 80%;
  margin-left: 10%;
}

input {
  border: none;
  
}


.firstRow {
  margin-top: 5px;
  height: 30px;
  border-bottom: 1px solid red;
  line-height: 18px;
}

.topicZ,
.topicF {
  width: 40%;
  text-align: center;
  background-color: none;
}

.topic {
  width: 40%;
  text-align: center;
  background-color: none;
}

.judge4{
  width: 20%;
}