.contents{
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}


.main {
  align-items:center;
  min-height: 800px;
  background-color: antiquewhite;
  border-radius: 15px;
  margin: 5px auto;
}

input {
  /*背景透明*/
  background-color: transparent;
  /*去外边框*/
  outline: none;
  border: none;

}

.teamRow{
  width: 100%;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.leaderRow {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  font-size: large;
  align-items:center;
  flex: 1;
}

/*展示列表用的*/
.showleaderRow {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-around;
  font-size: large;
  align-items:center;
  flex: 1;
}

.memberTitle {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  margin-top: 10px;
  margin-left: 1%;
  font-family: '宋体';
  color:grey;
  justify-content: flex-start;
  font-weight: 600;
}

table{
  min-width: 100%;
}

.member{
  min-width: 94%;
  margin-top: 15px;
  margin-left: 3%;
  margin-right: 3%;
}

tr{
  border-bottom: 1px solid grey;
}

.tr{
  height: 80px;
}

tbody{
  border: 1px solid grey;
  font-size: 14px;
}

td{
  text-align: center;
  margin-top: 10px;
  div{
    margin: auto;
  }
}

.name{
  width: 6%;
  text-align: center;
}

.debate{
  width: 40%;
  text-align: center;
  align-content: center;
}

.theme{
  width: 30%;
  text-align: center;
  align-content: center;
}

.debate1,.theme1{
  text-align: center;
  align-content: center;
}


.topicTitle{
  width: 10%;
}

button{
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}
