<!doctype html>
<html style="height: 100%">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0,maximum-scale=1.0" />
  <title>深语主题网辩赛</title>
  <style type="text/css">
    #root {height: 100%}
    @media screen and (max-width: 960px) {
    #root{
        height: auto;
    }
}
    </style>
</head>

<body style="height: 100%">
  <div id="root" ></div>
</body>

</html>
